.navigation {
  display: flex;
  align-items: center;
}

.navigation__link-item {
 text-decoration: none;
 font-family: "Roboto", "Arial", sans-serif;
 font-size: 18px;
 line-height: 77px;
 text-align: center;
 color: #FFFFFF;
 margin-right: 32px;
 display: block;
 box-sizing: border-box;
}

.navigation__link-item_black {
  color: #1A1B22;
}

.navigation__link-item:hover {
  cursor: pointer;
  transition: .5s;
  opacity: 0.9;
}

.navigation__link-item:active {
  cursor: default;
}

.navigation__link-item_active {
  border-bottom: 3px solid #fff;
  cursor: default;
}

.navigation__link-item_active-black {
  border-bottom: 3px solid  #1A1B22;
  cursor: default;
}

.navigation__button-auth {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 12px;
  background: none;
  height: 48px;
}

.navigation__button-auth_black {
  color: #1A1B22;
  border: 1px solid #1A1B22;
}

.navigation__button-auth:hover {
  cursor: pointer;
  transition: .5s;
  opacity: 0.9;
}
